<section>
  <p id="Introduction">
    I am a software engineer from Romania, currently open to new opportunities. <br>
    I code with passion and I love to learn new things.
  </p>
</section>

<section>
  <h2> What I Do </h2>
  <div id="skills">
    <skill skill="Front-End Development" svg="assets/web.svg" class="animate__animated animate__fadeInUp">
      <p>
        Modern websites made by hand, with attention to detail.
      </p>
    </skill>
    <skill skill="Back-End Development" svg="assets/backend.svg" class="animate__animated animate__fadeInUp">
      <p>
        Fast and secure server solutions, fitted to your needs.
      </p>
    </skill>
    <skill skill="Systems Programming" svg="assets/systems.svg" class="animate__animated animate__fadeInUp">
      <p>
        Develop high quality and efficient software using low-level languages.
      </p>
    </skill>
    <skill skill="DevOps Engineering" svg="assets/devops.svg" class="animate__animated animate__fadeInUp">
      <p>
        Manage and scale your project with ease, using the best technologies.
      </p>
    </skill>
  </div>
</section>

<section>
  <h2> Awards </h2>
  <div id="awards">
    <award class="animate__animated animate__zoomIn" [name]="screenSize.isMobile ? 'National Olympiad' : 'Programming Olympiad'" image="assets/medal.png">
      <p>
        Multiple awards at the National Programming Olympiad during 2015-2021, including a <strong>silver medal</strong>.
      </p>
    </award>
    <award class="animate__animated animate__zoomIn" name="First Tech Challenge" image="assets/ftc.png">
      <p>
        Leader of robotics team that won national and international awards at the <strong>First Tech Challenge</strong> competition.
      </p>
    </award>
  </div>
</section>
