@import "/src/variables"

#skills, #awards
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 1rem

  @media screen and (max-width: $mobile-breakpoint)
    grid-template-columns: 1fr

  @for $i from 1 through 4
    skill:nth-child(#{$i})
      animation-delay: #{($i - 1) * 0.1}s

  skill, award
    p
      margin: 0


