<section>
  <timeline [name]="('work' | translate | async) ?? ''" icon="briefcase">
    <ng-template>
      <timeline-item [name]="('software-engineer-intern' | translate | async) ?? ''" secondaryName="DIGINESIS"
                     [from]="('diginesis-from' | translate | async) ?? ''"
                     [to]="('diginesis-to' | translate | async) ?? ''">
        <ul class="timeline-description">
          <li [aos]="'animate__fadeInRight'">
            {{'diginesis-description-1' | translate | async}}
          </li>
          <li [aos]="'animate__fadeInRight'">
            {{'diginesis-description-2' | translate | async}}
          </li>
        </ul>
      </timeline-item>
    </ng-template>
    <ng-template>
      <timeline-item [name]="('software-developer' | translate | async) ?? ''" secondaryName="NETLUP TECHNOLOGIES"
                     [from]="('netlup-from' | translate | async) ?? ''"
                     [to]="('netlup-to' | translate | async) ?? ''">
        <ul class="timeline-description">
          <li [aos]="'animate__fadeInRight'">
            {{'netlup-description-1' | translate | async}}
          </li>
          <li [aos]="'animate__fadeInRight'">
            {{'netlup-description-2' | translate | async}}
          </li>
          <li [aos]="'animate__fadeInRight'">
            {{'netlup-description-3' | translate | async}}
          </li>
        </ul>
      </timeline-item>
    </ng-template>
  </timeline>
</section>

<section>
  <timeline [name]="('education' | translate | async) ?? ''" icon="book">
    <ng-template>
      <timeline-item [name]="('bs' | translate | async) ?? ''"
                     [secondaryName]="('university' | translate | async) ?? ''"
                     [from]="('university-from' | translate | async) ?? ''"
                     [to]="('university-to' | translate | async) ?? ''">
        <ul class="timeline-description">
          <li [aos]="'animate__fadeInRight'">
            {{'university-description-1' | translate | async}}
          </li>
          <li [aos]="'animate__fadeInRight'">
            {{'university-description-2' | translate | async}}
          </li>
          <li [aos]="'animate__fadeInRight'">
            <span> {{'university-description-3' | translate | async}} </span>
            <ul>
              <li *ngFor="let i of [1,2,3,4,5,6,7]" [aos]="'animate__fadeInRight'">
                {{'university-description-3-' + i | translate | async}}
              </li>
            </ul>
          </li>
        </ul>
      </timeline-item>
    </ng-template>
  </timeline>
</section>
