<section>
  <timeline name="Work" icon="briefcase">
    <ng-template>
      <timeline-item name="Software Engineer Intern" secondaryName="DIGINESIS" from="August 2022" to="October 2022">
        <ul class="timeline-description">
          <li class="animate__animated animate__fadeInRight">Developed new <strong>ERP</strong> software using Python.
          </li>
          <li class="animate__animated animate__fadeInRight">Worked alongside senior software engineers and
            product managers.
          </li>
        </ul>
      </timeline-item>
    </ng-template>
    <ng-template>
      <timeline-item name="Software Developer" secondaryName="NETLUP TECHNOLOGIES" from="June 2022" to="September 2022">
        <ul class="timeline-description">
          <li class="animate__animated animate__fadeInRight">
            Created a command-line tool for data compression with specific settings.
          </li>
          <li class="animate__animated animate__fadeInRight">
            Implemented various compression techniques such as ZIP, GZIP, TAR, and more, using <strong>C++</strong>.
          </li>
          <li class="animate__animated animate__fadeInRight">
            Designed an XML format to store meta-data, allowing for debugging and data restoration.
          </li>
        </ul>
      </timeline-item>
    </ng-template>
  </timeline>
</section>

<section>
  <timeline name="Education" icon="book">
    <ng-template>
      <timeline-item name="BS in Computer Science" secondaryName="University of Bucharest" from="October 2022"
                     to="Present">
        <ul class="timeline-description">
          <li class="animate__animated animate__fadeInRight">
            Overall grade of <strong>9.5</strong> out of 10.
          </li>
          <li class="animate__animated animate__fadeInRight">
            Proficient in <strong>Algorithms</strong>, <strong>Data Structures</strong>, <strong>Object-Oriented
            Programming</strong>, and more.
        </ul>
      </timeline-item>
    </ng-template>
  </timeline>
</section>
