<article>
  <project-panel name="DareX" [features]="[
('darex-description-1' | translate | async) ?? '',
('darex-description-2' | translate | async) ?? '',
('darex-description-3' | translate | async) ?? '',
('darex-description-4' | translate | async) ?? ''
]" [technologies]="[
{icon: 'angular', scale: 1.3},
{icon: 'react', scale: 1},
{icon: 'aspnet', scale: 1.05},
{icon: 'azure'},
{icon: 'chatgpt'},
{icon: 'firebase'},
{icon: 'capacitor'},
]">
    <figure id="darex-video-wrapper" left>
      <video autoplay loop muted playsinline onloadedmetadata="this.muted = true" oncanplay="this.play()"
             data-aos="fade-right">
        <!-- Provide the Safari video -->
        <source *ngIf="platform.SAFARI || platform.IOS"
                [src]="'static-other/darex-hevc-safari.mp4' | CDN"
                type='video/mp4; codecs="hvc1"'>
        <!-- .. and the Chrome video -->
        <source *ngIf="platform.WEBKIT || platform.BLINK"
                [src]="'static-other/darex-vp9-chrome.webm' | CDN"
                type="video/webm">
      </video>
    </figure>
  </project-panel>
</article>
<mat-divider></mat-divider>
<article>
  <project-panel name="Various Fits" [features]="[
('various-fits-description-1' | translate | async) ?? '',
('various-fits-description-2' | translate | async) ?? '',
('various-fits-description-3' | translate | async) ?? '',
('various-fits-description-4' | translate | async) ?? ''
]" [technologies]="[
{icon: 'angular', scale: 1.3},
{icon: 'django', scale: 1.3},
{icon: 'googlecloud', scale: 0.95},
{icon: 'postgres'},
]">
    <figure id="vf-video-wrapper" left>
      <video autoplay loop muted playsinline onloadedmetadata="this.muted = true" oncanplay="this.play()"
             data-aos="fade-right">
        <!-- Provide the Safari video -->
        <source *ngIf="platform.SAFARI || platform.IOS"
                [src]="'static-other/vf-hevc-safari.mp4' | CDN"
                type='video/mp4; codecs="hvc1"'>
        <!-- .. and the Chrome video -->
        <source *ngIf="platform.WEBKIT || platform.BLINK"
                [src]="'static-other/vf-vp9-chrome.webm' | CDN"
                type="video/webm">

      </video>
    </figure>
  </project-panel>
</article>
<mat-divider></mat-divider>
<article>
  <project-panel name="Q++" [features]="[
('qpp-description-1' | translate | async) ?? '',
('qpp-description-2' | translate | async) ?? '',
('qpp-description-3' | translate | async) ?? '',
('qpp-description-4' | translate | async) ?? ''
]" [technologies]="[
{icon: 'cplusplus', scale: 1.2},
{icon: 'git', scale: 1.1},
]">
    <figure id="qpp-logo" left>
      <img ngSrc="assets/q++.svg" alt="Q++ Logo" width="300" height="300" [priority]="true">
    </figure>
  </project-panel>
</article>
<mat-divider></mat-divider>
<article>
  <project-panel [name]="('wast' | translate | async) ?? ''" [features]="[
('wast-description-1' | translate | async) ?? '',
('wast-description-2' | translate | async) ?? '',
('wast-description-3' | translate | async) ?? '',
('wast-description-4' | translate | async) ?? ''
]" [technologies]="[
{icon: 'python', scale: 1.2},
{icon: 'git', scale: 1.1},
]">
    <figure id="asc-logo" left>
      <img id="python"
           ngSrc="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Python_logo_01.svg/2048px-Python_logo_01.svg.png"
           width="150"
           height="150"
           alt="PYTHON"
           [priority]="true"/>
      <i class="bi bi-plus"></i>
      <img id="wasm"
           ngSrc="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/WebAssembly_Logo.svg/1200px-WebAssembly_Logo.svg.png"
           width="150"
           height="150"
           alt="WASM"
           [priority]="true"/>
    </figure>
  </project-panel>
</article>
