<div class="project">
  <div class="project-left" (click)="goToUrl()" [ngClass]="{'custom-link': !!url}">
    <ng-content select="[left]"></ng-content>
  </div>
  <div class="project-right">
    <h2 [ngClass]="{'custom-link': !!url}">
      <span (click)="goToUrl()"> {{ name }} </span>
      <i (click)="openDialog()" class="bi bi-info-circle" *ngIf="help !== undefined"></i>
    </h2>
    <ul>
      <li class="feature" [aos]="'animate__fadeInRight'" *ngFor="let feature of features">
        <p>{{ feature }}</p>
      </li>
    </ul>
    <div class="project-tech">
      <div class="tech-icon" [aos]="'animate__zoomIn'" *ngFor="let tech of technologies">
        <img [ngSrc]="'static-images/icons/' + tech.icon + '.webp' | CDN" alt="{{ tech }}" width="50" height="50"
             [ngStyle]="{'scale': tech.scale ?? 1}">
      </div>
    </div>
  </div>
</div>
