<div id="contact-wrapper">
  <header id="me-wrapper">
    <figure id="picture-wrapper">
      <!--suppress HtmlUnknownBooleanAttribute -->
      <img ngSrc="assets/memoji.png" alt="Mario Deaconescu" width="336" height="336" [priority]="true">
    </figure>
    <div id="title-wrapper">
      <h2>Mario Deaconescu</h2>
      <h3>{{ 'software-engineer' | translate | async }}</h3>
    </div>
  </header>
  <div id="extended-info" [@openClose]="isExtended ? 'open' : 'closed'">
    <mat-divider></mat-divider>
    <div id="contact-list">
      <a href="mailto:mariodeaconescu2003@gmail.com">
        <contact-field label="Email" value="mariodeaconescu2003@gmail.com" icon="at"></contact-field>
      </a>
      <a href="tel:40743141535">
        <contact-field [label]="('phone' | translate | async) ?? ''" value="+40 743 141 535" icon="phone"></contact-field>
      </a>
      <a href="https://github.com/mario-deaconescu" target="_blank">
        <contact-field label="GitHub" value="github.com/mario-deaconescu" icon="github"
                       link="https://github.com/mario-deaconescu"></contact-field>
      </a>
      <a href="https://www.linkedin.com/in/mario-deaconescu/" target="_blank">
        <contact-field label="LinkedIn" value="linkedin.com/in/mario-deaconescu" icon="linkedin"
                       link="https://www.linkedin.com/in/mario-deaconescu/"></contact-field>
      </a>
    </div>
  </div>
  <button *ngIf="screenSize.isMobile" id="contact-expand-button" (click)="toggleExtended()">
    <i class="bi bi-arrow-down-short" [ngClass]="{'rotated-arrow': isExtended}"></i>
  </button>
</div>

