<div id="contact-wrapper">
  <header id="me-wrapper">
    <figure id="picture-wrapper">
      <!--suppress HtmlUnknownBooleanAttribute -->
      <img ngSrc="assets/memoji.png" alt="Mario Deaconescu" width="336" height="336" [priority]="true">
    </figure>
    <div id="title-wrapper">
      <h2>Mario Deaconescu</h2>
      <h3>{{ 'software-engineer' | translate | async }}</h3>
    </div>
  </header>
  <div id="extended-info" [@openClose]="isExtended ? 'open' : 'closed'">
    <mat-divider></mat-divider>
    <div id="contact-list">
      <a [href]="'mailto:' + info.email">
        <contact-field label="Email" [value]="info.email" icon="at"></contact-field>
      </a>
      <a [href]="'tel:' + info.phone">
        <contact-field [label]="('phone' | translate | async) ?? ''" [value]="info.phoneFormatted" icon="phone"></contact-field>
      </a>
      <a [href]="info.githubUrl" target="_blank">
        <contact-field label="GitHub" [value]="info.github" icon="github"
                       [link]="info.githubUrl"></contact-field>
      </a>
      <a [href]="info.linkedinUrl" target="_blank">
        <contact-field label="LinkedIn" [value]="info.linkedin" icon="linkedin"
                       [link]="info.linkedinUrl"></contact-field>
      </a>
    </div>
  </div>
  <button *ngIf="screenSize.isMobile" id="contact-expand-button" (click)="toggleExtended()">
    <i class="bi bi-arrow-down-short" [ngClass]="{'rotated-arrow': isExtended}"></i>
  </button>
</div>

