<main>
  <nav id="desktop-nav" *ngIf="!screenSize.isMobile">
    <a routerLink="about" [ngClass]="{'activated-route': currentPage == 'about'}">{{pageTitles['about']}}</a>
    <a routerLink="experience"
       [ngClass]="{'activated-route': currentPage == 'experience'}">{{pageTitles['experience']}}</a>
    <a routerLink="projects" [ngClass]="{'activated-route': currentPage == 'projects'}">{{pageTitles['projects']}}</a>
  </nav>
  <h1>
    <smooth-text [input]="title"></smooth-text>
  </h1>
  <div id="route-wrapper" [@routeAnimation]="getRouteAnimationData()" [smoothHeight]="currentPage">
    <router-outlet></router-outlet>
  </div>
</main>
