<main>
  <div id="main-content-wrapper">
    <h1>
      <smooth-text [input]="(title | translate | async) ?? ''"></smooth-text>
    </h1>
    <div id="route-wrapper" [@routeAnimation]="getRouteAnimationData()" [smoothHeight]="currentPage">
      <router-outlet></router-outlet>
    </div>
  </div>
  <nav id="desktop-nav" *ngIf="!screenSize.isMobile">
    <a *ngFor="let page of titles" [routerLink]="page"
       [ngClass]="{'activated-route': currentPage === page}">{{pageTitles[page] | translate | async}}</a>
  </nav>
</main>
