<star-background></star-background>
<div id="wrapper">
  <div id="content">
    <div id="content-left">
      <contact></contact>
      <language-picker></language-picker>
<!--      <img class="output" src="https://github-readme-stats.vercel.app/api/top-langs/?username=mario-deaconescu&amp;theme=dark&amp;show_icons=true&amp;hide_border=true&amp;layout=compact" alt="github top languages">-->
    </div>
    <main-content></main-content>
  </div>
  <mobile-nav *ngIf="screenSize.isMobile"></mobile-nav>
</div>
